<html>
<head>
<title>transferencia</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

     <div class="content-wrapper" style="margin-top: 5px;">
     <div class="container">
		<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Banco</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
              <li><a href="../transferencia?name=nombre">Transferencias</a></li>
              <li><a href="../cuentas">Cuentas</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
			<div class="table-responsive">
			<table class="table table-striped table-bordered">
			 {% set i = 0 %}
			 <tr><th> # </th> <th> Numero de Cuenta</th> <th> Balance </th> </tr> 
			      {% for cuenta in lcuentas %}
				        <tr>
				       
							 {% set i= i+1 %}
							<td> {{ i  }} </td>
							<td> {{ cuenta.number }} </td>
							<td> {{ cuenta.balance }} </td>
							  
						</tr>
				  {% endfor %}
			</table>
			</div>
			</div>
		</div>
      

      <!-- Site footer -->
      <footer class="footer">
        <p>© Company 2014</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>



</body>
</html>