<html>
<head>
<title>transferencia</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Banco</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
              <li><a href="../transferencia?name=nombre">Transferencias</a></li>
              <li><a href="../cuentas">Cuentas</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <h3 class="text-muted">Bienvenid@ {{name}}</h3>
        
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron" >
      <div class="row">
				<div class="col-md-5 col-md-offset-3">
      <form  action="../aprobacion" method="get">
      	<form>
		  <div class="form-group">
		    <label for="cuenta1">Cuenta 1: </label>
		    <input type="number" class="form-control" id="cuenta1" name="cuenta1"  placeholder="Ingresar Cuenta Personal" maxlength="12">
		  </div>
		  <div class="form-group">
		    <label for="cuenta2">Cuenta 2: </label>
		    <input type="text" class="form-control" id="cuenta2" name="cuenta2"  placeholder="Ingresar Cuenta Destino">
		  </div>
		<div class="form-group">
	    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
	    <div class="input-group">
	      <div class="input-group-addon">$</div>
	      <input type="text" class="form-control" id="exampleInputAmount" name="monto"placeholder="Amount">
	      <div class="input-group-addon">.00</div>
	    </div>
	  </div>
		   <button type="submit" class="btn btn-primary">Transferir</button>
      </form>
  
  		</div></div>
      </div>

      

      <!-- Site footer -->
      <footer class="footer">
        <p>© Company 2014</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>



</body>
</html>